<div class="d-flex align-items-center mt-1">  
  <p><%= link_to "", :back, class:"fas fa-arrow-left anchor-tweet mt-3" %></p>
  <h4 class="ms-4">Editting Reply</h4>
</div>

<%= render "form", reply: @reply %>