<div class="col-3">
    <div class="mt-3 ms-5 h5" id="icon">
        <i class="fab fa-twitter"></i>
    </div>
    <div class="mt-3 ms-5 h5">
        <%= link_to "   Explore", tweets_path, class: "fas fa-hashtag anchor" %>
    </div>
    <div class="mt-3 ms-5 h5">
        <%= link_to "   Settings", home_settings_path, class: "fas fa-cog anchor" %>
    </div>
</div>