<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark" id="nav-bar">
  <div class="container-fluid d-flex justify-content-around">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
          <h6> Dont't miss what's happening </h6>
          <p> People on Twitter are the first to know. </p>
        </div>
        <div>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-light" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-light" %>
        </div>
  </div>
</nav>