<h1 class="mt-3">About</h1>
<h5 class="mt-4">
    Hello! My name is Siraj Mohammed Saleem, currently in term 2 of computer programming at Algonquin College
    and I am passionate about coding. I have a strong understanding of web development technologies,
    including HTML, CSS, JavaScript, and related libraries and frameworks. Additionally, I am experienced in Java, Ruby, Ruby on Rails, PHP, XML, and MySQL. 
</h5>

<h5 class="mt-3">
    In addition to my web development skills, I have also published two Android applications. I take pride in my ability to learn quickly
    and adapt to new technologies, and I am constantly seeking out new challenges to grow my skills.
</h5>

<h5 class="mt-3 mb-5">
    Feel free to check out my
    <a class="about-anchor" href="https://sirajsaleem.com" target="_blank"> portfolio</a>, and my 
    <a class="about-anchor" href="https://github.com/sirajms5" target="_blank"> GitHub </a> and I look forward to connecting with you!
</h5>