<h1 class="mt-3"> Terms of Services </h1>
<h5 class="mt-4"> - Disclaimer: This app is a clone of twitter, it is non profit, and for learning purposes. </h5>
<h5 class="mt-3"> - This app is not monitored. </h5>