#icon {
    color: #1DA1F2;
    font-size: 1.8rem;
}

.anchor {
    text-decoration: none;
    color: black;
}

.anchor:hover {
    text-decoration: underline;
}

#column_image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#column-left {
    position: fixed;
    height: 90vh;
}