#icon {
    color: #1DA1F2;
    font-size: 1.8rem;
}

.anchor {
    text-decoration: none;
    color: black;
}

.anchor:hover {
    text-decoration: underline;
}

#column-image {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

#column-left {
    position: fixed;
    height: 90vh;
}

#user-card {    
    box-shadow: 2px 2px 4px;
}
.cleaner {
    font-weight: normal;
}

.solidifier {
    font-weight: bold;
    font-size: 1.05rem;
}